.HeimerBG{
    background-size: cover;
    background-position: center;
    background-image: url(../images/Heimer.png);
    height: 100vh;
    display: relative;
}

.HBubble1{
    background-image: url(../images/SpeechBubble.png);
    background-size: cover;
    background-position: center;
    height: 12.5rem;
    width: 22.188rem;
    display: relative;
    position: relative;
    transform: rotateY(180deg);
    left: 25rem;
}
.HBubble2{
    background-image: url(../images/SpeechBubble.png);
    background-size: cover;
    background-position: center;
    height: 12.5rem;
    width: 22.188rem;
    display: relative;
    position: relative;
    top: 12.5rem;
}

.homeBtnAdd{
    position: relative;
    top:22.5rem;
}

.text1{
    position: relative;
    left:-23.125rem;
    top: -8.75rem;
}

.text2{
    position: relative;
    top:1.875rem;
}

.titlePosition{
    position: relative;
    left:60.75rem;
    top:16.875rem;
}

.noBorderInputs{
    background:transparent;
    border-color:orangered;
}